<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>
            {{ partial "nav.html" .}}
            {{ if .Site.Params.contact.enable }}
        	{{ partial "contact.html" .}}
            {{ end }}

            <h1>Sorry I couldn't find what you're looking for.</h1>

            {{ if .Site.Params.footer.enable }}
                {{ partial "footer.html" .}}
            {{ end }}

            {{ partial "js.html" .}}
    </body>
</html>